/* ---------------------------------------------------
 * Citations
 * ---------------------------------------------------
 */
[data-type="chapter"] a[data-type="cite"]  {
  //override more specific selector in notes etc...
  border-bottom: 0px !important;

  content: target-counter(attr(href), references);
  @include scripts(sup);
  text-decoration: underline;
  font-weight: 100;
}

div.os-reference-container {
  margin-left: 0;
  text-indent: 0;
  text-align: left;
  display: inline;

  > .os-chapter-area {
    counter-reset: references;
    margin-bottom: size-scale(0);
    > [data-type="document-title"] {
      display: none;
    }

    // .os-section-area {
    //   //.scale-padding(0, margin-bottom);
    //   margin-bottom: size-scale(0);
    //   sup {
    //     display: none;
    //   }
    //   color: color-map(reference-subtitles);
    //   font-weight: bold;
    // }

    > .reference {
      margin-top: size-scale(1);
      margin-bottom: size-scale(-3);
      padding: 0;
      counter-increment: references;
      
      > .os-reference-number {
        content: counter(references) ".";
        padding-right: size-scale(-4);
      }
    }
  }
}
